div{
    animation-name: css3;
    position: relative;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
   /* animation-duration: reverse;*/
}
@keyframes css3{
    0%{
     left:0px;
     top:0px;
     background-color: aqua;
    }
    25%{
        left: 100px;
        top:0px;
        background-color:rosybrown;
    }
    50%{
        left: 100px;
        top: 100px;
        background-color:black;
    }
    75%{
        left:0px;
        top: 100px;
        background-color:red;
    }
    100%{
        left:0;
        top:0;
        background-color:aqua;
    }
}